<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="JiraHost" value="https://jira.coolblue.eu/jira" />
    <add key="JiraUsername" value="t.brobbel" />
    <add key="JiraPassword" value="" />
    <add key="JiraDefaultIssueNumber" value="FIN-1300" />
  </appSettings>
</configuration>